/* Apply Montserrat for headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

/* Apply Lato for body text */
body, p, li, a {
    font-family: 'Lato', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

h1, h2 {
  margin: 0;
  font-family: 'Leckerli One', cursive;
  text-shadow: 0 2px rgba(0, 0, 0, 0.5);
}

.row {
  max-width: 80%;
  margin: 0 auto;
}

.intro-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: table;
  z-index: -1;
}
.intro-header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.intro-header .bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("https://www.ilyasabukar.com/b2.png">") center center no-repeat;
  background-size: cover;
}
.intro-header .header-content {
  position: relative;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  z-index: 2;
}

.content {
  height: 100vh;
  padding: 50px;
  background: #333;
  margin-top: 100vh;
}
