/* Apply Montserrat for headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

/* Apply Lato for body text */
body, p, li, a {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  color: #4e4e4e;
}

h1, h2 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 2px rgba(0, 0, 0, 0.5);
}

.row {
  max-width: 80%;
  margin: 0 auto;
}

.intro-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: table;
  z-index: 2;
}
.intro-header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.intro-header .header-content {
  position: relative;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  z-index: 2;
}

.content {
  height: 100vh;
  padding: 50px;
  background: #333;
  margin-top: 100vh;
}

p.bodytext {
  text-align: left;
  line-height: 1.8;
  word-spacing: 10px;
  box-sizing: border-box;
}

/* General Mobile Styles (For devices smaller than 768px) */
@media (max-width: 768px) {
  body {
    font-size: 14px; /* Reduce base font size */
  }

  h1, h2 {
    font-size: 1.5rem; /* Adjust heading sizes */
    letter-spacing: 2px; /* Reduce spacing */
  }

  .row {
    max-width: 90%; /* Narrow the container */
  }

  p.bodytext {
    word-spacing: 5px;
    line-height: 1.6;
  }

  .intro-header {
    height: 30vh; /* Reduce height of the header */
  }

  .content {
    padding: 20px;
  }
}
