* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  color: #4d4d4d;
}


h1, h2 {
  margin: 0;
  font-family: 'Montserrat';
  text-shadow: 0 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 5px;
}

.row {
  max-width: 80%;
  margin: 0 auto;
}

p.bodytext {
  text-align: left;
  line-height: 1.8;
  word-spacing: 10px;
  box-sizing: border-box;
}


.intro-header {
  position: relative; 
  height: 100vh; /* Adjust this value to your desired height */
  width: 100%;
  overflow: hidden;
  z-index: 0; 
  display: flex; /* Add this */
  justify-content: center; /* Add this */
  align-items: center; /* Add this */
}



  
  background-size: cover; /* Fully cover the header area */
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0; /* Below everything */
}

.intro-header .header-content {
  position: relative;
  text-align: center;
  display: flex; /* Use flexbox for proper alignment */
  justify-content: center;
  align-items: center;
  height: 100%; /* Fill the parent height */
  z-index: 2; /* Content on top of the overlay */

}

.content {
  height: 100vh;
  padding: 50px;
  background: #fcb016;
  margin-top: 0;
}

.p.bodytext {
  text-align: left;
  line-height: 1.8;
  word-spacing: 10px;
  box-sizing: border-box;
}
.wrapper {overflow: auto;}

#main {margin-left: 4px;}

#leftsidebar {
  float: none;
  width: auto;
}



@media screen and (min-width: 480px) {
  #leftsidebar {width: 200px; float: left;}
  #main {margin-left: 216px;}

  .intro-header {
    height: 30vh; /* Reduce height of the header */
  }

  .content {
    padding: 20px;
  }
}
